body {
    background-image: url("senai-dutra.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: contain;
    background-color: aqua;
}