* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e3c72;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    color: #1e3c72;
    font-size: 1.5rem;
}

.controles{
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

input {
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
    outline: none;
}

input:focus {
    border-color: #2a5298;
}

button {
    padding: 12px 20px;
    background-color: #27ae60;
    color: #fff;
    border: none;   /* sem borda */
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #219150;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#resultadoTabuada {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    border:1px solid #eee;
}

p {
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    color: #444;
    text-align: left;
}

p:hover {
    background-color: #edf2f2;
    border-radius: 4px;
}

/*Personalização da barra de rolagem*/
#resultadoTabuada::-webkit-scrollbar {
    width: 16px;
}

#resultadoTabuada::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}