.container {
    background-color: #2c3e50;
    height: 300px;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: flex-start; /*Alinha os filhos no topo*/
}

.itens {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;  /* Deixa as caixas com larguras iguais*/
}

.itens.destaque {
    background-color: #e74c3c;
    align-self: center;
}